
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consulta de Clientes</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">

    <h2>Consulta de Clientes</h2>
    <a href="/Home/Index">Página inicial</a>
    <hr />

</body>
</html>
