
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Selecione uma opção</h4>
<ul>
    <li><a href="/Usuario/Cadastro">Cadastro de Usuário</a></li>
    <li><a href="/Usuario/Login">Efetuar Login</a></li>
</ul>
