
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Selecione a operação desejada:</h4>
<ul>
    <li> <a href="/Usuario/Cadastro">Criar conta de acesso</a> </li>
    <li> <a href="/Usuario/Login">Realizar autenticação</a> </li>
</ul>

