
@{
    ViewBag.Titulo = "Página inicial do Sistema";
    ViewBag.Subtitulo = "Selecione a ação desejada: ";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<strong>Operações de Clientes</strong>

<ul>
    <li> <a href="/Cliente/Cadastro">Cadastrar novo Cliente</a></li>
    <li> <a href="/Cliente/Consulta">Consultar Clientes</a></li>
</ul>

