
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Estudos</title>

    <!--Folha de estilo -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container">

        <h2> Sistema de Controle de Clientes e Planos</h2>
        Estudos de ASP.NET MVC
        <hr />
        <br />

        <p>
            Selecione a ação desejada:
        </p>
        <ul>
            <li><a href="/Plano/Cadastro">Cadastrar Plano</a></li>
            <li><a href="/Plano/Consulta">Consultar Plano</a></li>
        </ul>
        <ul>
            <li><a href="/Cliente/Cadastro">Cadastrar Plano</a></li>
            <li><a href="/Cliente/Consulta">Consultar Plano</a></li>
        </ul>
    </div>
    
</body>
</html>