
@{
    ViewBag.Title = "Index";
}

<h2>Estudando Asp.Net MVC </h2>
<hr />
<p>
    Selecione a opção desejada:
</p>
<ul>
    <li> <a href="/Plano/Cadastro">Cadastrar plano</a></li>
    <li> <a href="/Plano/Consulta">Consultar plano</a></li>
</ul>
<ul>
    <li> <a href="/Cliente/Cadastro">Cadastrar cliente</a></li>
    <li> <a href="/Cliente/Consulta">Consultar cliente</a></li>
</ul>